@font-face {
  font-family: rama;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/ramagothice-normal.woff') format('woff');
}

@font-face {
  font-family: rama;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/ramagothicebold.woff') format('woff');
}

@font-face {
  font-family: Druk;
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/Druk-MediumItalic.woff') format('woff');
}

@font-face {
  font-family: Druk;
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/DrukText-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: Druk;
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url('../fonts/Druk-HeavyItalic.woff') format('woff');
}
